<svg:g>
    <!-- Origin is at center of first (LD) led -->
    <svg:g>
        <!-- Hi Register -->
        <svg:title>Register {{ descriptionHi }}</svg:title>
    
        <svg:rect x="-4" y="7" width="107" height="5" fill="white" />
        
        <svg:circle cx="0" cy="0" r="4" class="ledYellow" [class.on]="register.loadHi" />
        <svg:circle cx="0" cy="0" r="4" class="ledOutline" />
        <svg:text transform="translate(-4 7)" fill="black">
            <svg:tspan class="d-text4" fill="black" x="1.7753906" y="3.75">Ld</svg:tspan>
        </svg:text>
    
        <svg:g *ngIf="register.isSelectableHi">
            <svg:circle cx="11" cy="0" r="4" class="ledGreen" [class.on]="register.selectHi" />
            <svg:circle cx="11" cy="0" r="4" class="ledOutline" />
            <svg:text transform="translate(6 7)" fill="black">
                <svg:tspan class="d-text4" x="2.109375" y="3.75">Sel</svg:tspan>
            </svg:text>
        </svg:g>
        
        <svg:g rc-byte-leds [value]="register.valueHi.value" transform="translate(22,0)"></svg:g>
        
        <svg:text transform="translate(18 7)" fill="black">
            <svg:tspan class="d-text4" fill="black" x="42" y="3.75" text-anchor="middle">{{ descriptionHi }}</svg:tspan>
        </svg:text>
    </svg:g>
    <svg:g transform="translate(110,0)">
        <!-- Lo Register -->
        <svg:title>{{ descriptionLo }}</svg:title>

        <svg:rect x="-4" y="7" width="107" height="5" fill="white" />
            
        <svg:g rc-byte-leds [value]="register.valueLo.value" transform="translate(0,0)"></svg:g>
        
        <svg:circle cx="88" cy="0" r="4" class="ledYellow" [class.on]="register.loadLo" />
        <svg:circle cx="88" cy="0" r="4" class="ledOutline" />
        <svg:text transform="translate(84 7)" fill="black">
            <svg:tspan class="d-text4" fill="black" x="1.7753906" y="3.75">Ld</svg:tspan>
        </svg:text>

        <svg:g *ngIf="register.isSelectableLo">
            <svg:circle cx="99" cy="0" r="4" class="ledGreen" [class.on]="register.selectLo" />
            <svg:circle cx="99" cy="0" r="4" class="ledOutline" />
            <svg:text transform="translate(94 7)" fill="black">
                <svg:tspan class="d-text4" x="2.109375" y="3.75">Sel</svg:tspan>
            </svg:text>
        </svg:g>

        <svg:text transform="translate(-4 7)" fill="black">
            <svg:tspan class="d-text4" fill="black" x="42" y="3.75" text-anchor="middle">{{ descriptionLo }}</svg:tspan>
        </svg:text>
    </svg:g>
</svg:g>
