<svg:g>
    <!-- Origin at bay top left -->
    <title>Card Bay Z</title>
    <svg:g stroke="none" stroke-opacity="1" stroke-dasharray="none" fill="none" fill-opacity="1">
        <svg:g>
            <svg:rect x="0" y="0" width="237" height="200" class="bayBackground" />
            <svg:rect x="11" y="2" width="214" height="30" class="ledHolder" rx="5" ry="5" />
            <svg:rect x="11" y="42" width="214" height="30" class="ledHolder" rx="5" ry="5" />
            <svg:rect x="11" y="82" width="214" height="30" class="ledHolder" rx="5" ry="5" />
            <svg:rect x="11" y="122" width="214" height="30" class="ledHolder" rx="5" ry="5" />
            <svg:rect x="11" y="162" width="214" height="30" class="ledHolder" rx="5" ry="5" />
            <svg:g rc-card-register-ad [card]="backplane.registerAD" transform="translate(0,0)"></svg:g>
            <svg:g rc-card-register-bc [card]="backplane.registerBC" transform="translate(0,40)"></svg:g>
            <svg:g rc-card-alu-ctrl [card]="backplane.aluControl" transform="translate(0,80)"></svg:g>
            <svg:g rc-card-alu-arith [card]="backplane.aluArithmetic" transform="translate(0,120)"></svg:g>
            <svg:g rc-card-alu-logic [card]="backplane.aluLogic" transform="translate(0,160)"></svg:g>
        </svg:g>
    </svg:g>
</svg:g>
