<svg:title>Display A</svg:title>
<svg:g stroke="none" stroke-opacity="1" stroke-dasharray="none" fill="none" fill-opacity="1">
    <svg:g>
        <svg:rect x="0" y="0" width="237" height="169" fill="gray" />
        <svg:rect x="0" y="0" width="237" height="169" stroke="black" class="cardOutline" />

        <svg:g rc-display-a-a1a [value]="card.a1a" [valueIn]="card.a1aIn" transform="translate(9.999992,9.999977)"></svg:g>
        <!--
                <svg:rect x="204.99999" y="9.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="204.99999" y="9.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="206.99999" y="11.999977" width="18" height="18" class="btnYellow" />
                <svg:rect x="206.99999" y="11.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(206.99999 13.999977)" fill="black">
                    <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
                    <svg:tspan class="d-text7" x="5.3034668" y="14">J2</svg:tspan>
                </svg:text>
                <svg:rect x="181.99999" y="9.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="181.99999" y="9.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="183.99999" y="11.999977" width="18" height="18" class="btnYellow" />
                <svg:rect x="183.99999" y="11.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(183.99999 13.999977)" fill="black">
                    <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
                    <svg:tspan class="d-text7" x="5.3034668" y="14">J1</svg:tspan>
                </svg:text>
                <svg:rect x="107.99999" y="9.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="107.99999" y="9.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="109.99999" y="11.999977" width="18" height="18" class="btnYellow" />
                <svg:rect x="109.99999" y="11.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(109.99999 13.999977)" fill="black">
                    <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
                    <svg:tspan class="d-text7" x="4.1379395" y="14">M1</svg:tspan>
                </svg:text>
                <svg:rect x="130.99999" y="9.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="130.99999" y="9.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="132.99999" y="11.999977" width="18" height="18" class="btnYellow" />
                <svg:rect x="132.99999" y="11.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(132.99999 13.999977)" fill="black">
                    <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
                    <svg:tspan class="d-text7" x="4.1379395" y="14">M2</svg:tspan>
                </svg:text>

                <svg:rect x="107.99999" y="32.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="107.99999" y="32.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="109.99999" y="34.999977" width="18" height="18" class="btnGreen" />
                <svg:rect x="109.99999" y="34.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(109.99999 36.999977)" fill="black">
                    <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
                    <svg:tspan class="d-text7" x="4.1379395" y="14">M1</svg:tspan>
                </svg:text>
                <svg:rect x="130.99999" y="32.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="130.99999" y="32.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="132.99999" y="34.999977" width="18" height="18" class="btnGreen" />
                <svg:rect x="132.99999" y="34.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(132.99999 36.999977)" fill="black">
                    <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
                    <svg:tspan class="d-text7" x="4.1379395" y="14">M2</svg:tspan>
                </svg:text>
                <svg:rect x="153.99999" y="32.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="153.99999" y="32.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="155.99999" y="34.999977" width="18" height="18" class="btnGreen" />
                <svg:rect x="155.99999" y="34.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(155.99999 36.999977)" fill="black">
                    <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
                    <svg:tspan class="d-text7" x="6.0844727" y="14">M</svg:tspan>
                </svg:text>
                <svg:rect x="204.99999" y="32.999977" width="22" height="22" fill="#bbb" />
                <svg:rect x="204.99999" y="32.999977" width="22" height="22" class="btnOutline" />
                <svg:rect x="206.99999" y="34.999977" width="18" height="18" class="btnGreen" />
                <svg:rect x="206.99999" y="34.999977" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(206.99999 36.999977)" fill="black">
                    <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
                    <svg:tspan class="d-text7" x="7.25" y="14">J</svg:tspan>
                </svg:text>
                -->
        <svg:g rc-tact-switch [part]="card.a1cAuxReg" [valueIn]="card.a1cAuxRegIn" [description]="['ld','Inst']" [color]="'Yellow'" [bitTarget]="linLine" transform="translate(9.999992 61.999977)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a1cCl" [valueIn]="card.a1cClIn" [description]="['ld','Cond']" [color]="'Yellow'" [bitTarget]="clLine" transform="translate(32.999992 61.999977)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a1cAuxReg" [valueIn]="card.a1cAuxRegIn" [description]="['ld','INC']" [color]="'Yellow'" [bitTarget]="licLine" transform="translate(55.999992 61.999977)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a1cAuxReg" [valueIn]="card.a1cAuxRegIn" [description]="['sel','INC']" [color]="'Green'" [bitTarget]="sicLine" transform="translate(55.999992 84.999977)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a1cAuxReg" [valueIn]="card.a1cAuxRegIn" [description]="['ld','PC']" [color]="'Yellow'" [bitTarget]="lpcLine" transform="translate(78.99999 61.999977)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a1cAuxReg" [valueIn]="card.a1cAuxRegIn" [description]="['sel','PC']" [color]="'Green'" [bitTarget]="spcLine" transform="translate(78.99999 84.999977)"></svg:g>
        <!-->
        <svg:rect x="107.99999" y="61.999977" width="22" height="22" fill="#bbb" />
        <svg:rect x="107.99999" y="61.999977" width="22" height="22" class="btnOutline" />
        <svg:rect x="109.99999" y="63.999977" width="18" height="18" class="btnYellow" />
        <svg:rect x="109.99999" y="63.999977" width="18" height="18" class="btnOutline" />
        <svg:text transform="translate(109.99999 65.999977)" fill="black">
            <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
            <svg:tspan class="d-text7" x="6.6655273" y="14">X</svg:tspan>
        </svg:text>
        <svg:rect x="130.99999" y="61.999977" width="22" height="22" fill="#bbb" />
        <svg:rect x="130.99999" y="61.999977" width="22" height="22" class="btnOutline" />
        <svg:rect x="132.99999" y="63.999977" width="18" height="18" class="btnYellow" />
        <svg:rect x="132.99999" y="63.999977" width="18" height="18" class="btnOutline" />
        <svg:text transform="translate(132.99999 65.999977)" fill="black">
            <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
            <svg:tspan class="d-text7" x="6.6655273" y="14">Y</svg:tspan>
        </svg:text>
        <svg:rect x="153.99999" y="61.999977" width="22" height="22" fill="#bbb" />
        <svg:rect x="153.99999" y="61.999977" width="22" height="22" class="btnOutline" />
        <svg:rect x="155.99999" y="63.999977" width="18" height="18" class="btnYellow" />
        <svg:rect x="155.99999" y="63.999977" width="18" height="18" class="btnOutline" />
        <svg:text transform="translate(155.99999 65.999977)" fill="black">
            <svg:tspan class="d-text7" x="6.275879" y="6">ld</svg:tspan>
            <svg:tspan class="d-text7" x="4.3310547" y="14">XY</svg:tspan>
        </svg:text>
        <svg:rect x="107.99999" y="84.999977" width="22" height="22" fill="#bbb" />
        <svg:rect x="107.99999" y="84.999977" width="22" height="22" class="btnOutline" />
        <svg:rect x="109.99999" y="86.999977" width="18" height="18" class="btnGreen" />
        <svg:rect x="109.99999" y="86.999977" width="18" height="18" class="btnOutline" />
        <svg:text transform="translate(109.99999 88.999977)" fill="black">
            <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
            <svg:tspan class="d-text7" x="6.6655273" y="14">X</svg:tspan>
        </svg:text>
        <svg:rect x="130.99999" y="84.999977" width="22" height="22" fill="#bbb" />
        <svg:rect x="130.99999" y="84.999977" width="22" height="22" class="btnOutline" />
        <svg:rect x="132.99999" y="86.999977" width="18" height="18" class="btnGreen" />
        <svg:rect x="132.99999" y="86.999977" width="18" height="18" class="btnOutline" />
        <svg:text transform="translate(132.99999 88.999977)" fill="black">
            <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
            <svg:tspan class="d-text7" x="6.6655273" y="14">Y</svg:tspan>
        </svg:text>
        <svg:rect x="153.99999" y="84.999977" width="22" height="22" fill="#bbb" />
        <svg:rect x="153.99999" y="84.999977" width="22" height="22" class="btnOutline" />
        <svg:rect x="155.99999" y="86.999977" width="18" height="18" class="btnGreen" />
        <svg:rect x="155.99999" y="86.999977" width="18" height="18" class="btnOutline" />
        <svg:text transform="translate(155.99999 88.999977)" fill="black">
            <svg:tspan class="d-text7" x="4.525879" y="6">sel</svg:tspan>
            <svg:tspan class="d-text7" x="4.3310547" y="14">XY</svg:tspan>
        </svg:text>
        -->

        <svg:g rc-tact-switch [part]="card.a2b" [valueIn]="card.a2bIn" [description]="['sel','DS']" [color]="'Green'" [bitTarget]="sdsLine" transform="translate(181.99999,84.999977)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a2b" [valueIn]="card.a2bIn" [description]="['sel','AS']" [color]="'Green'" [bitTarget]="sasLine" transform="translate(204.99999 84.999977)"></svg:g>

        <svg:g rc-tact-switch [part]="card.a1bClock" [valueIn]="card.a1bClockIn" [description]="['CLK']" [color]="'Red'" [bitTarget]="clkLine" transform="translate(9.999992,113.99998)"></svg:g>
        <svg:g rc-tact-switch [part]="card.a1bI2b" [valueIn]="card.a1bI2bIn" [description]="['I2B']" [color]="'Green'" [bitTarget]="i2bLine" transform="translate(9.999992,136.99998)"></svg:g>

        <svg:g rc-display-a-a2c [value]="card.a2c" [valueIn]="card.a2cIn" transform="translate(135.99999 113.99998)"></svg:g>

        <!--
                <svg:rect x="55.999992" y="113.99998" width="22" height="22" fill="#bbb" />
                <svg:rect x="55.999992" y="113.99998" width="22" height="22" class="btnOutline" />
                <svg:rect x="57.999992" y="115.99998" width="18" height="18" class="btnRed" />
                <svg:rect x="57.999992" y="115.99998" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(57.999992 121.99998)" fill="black">
                    <svg:tspan class="d-text7" x="1.2224121" y="6">MEN</svg:tspan>
                </svg:text>
                <svg:rect x="78.99999" y="113.99998" width="22" height="22" fill="#bbb" />
                <svg:rect x="78.99999" y="113.99998" width="22" height="22" class="btnOutline" />
                <svg:rect x="80.99999" y="115.99998" width="18" height="18" class="btnYellow" />
                <svg:rect x="80.99999" y="115.99998" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(80.99999 121.99998)" fill="black">
                    <svg:tspan class="d-text7" x="2.7810059" y="6">MW</svg:tspan>
                </svg:text>
                <svg:rect x="55.999992" y="136.99998" width="22" height="22" fill="#bbb" />
                <svg:rect x="55.999992" y="136.99998" width="22" height="22" class="btnOutline" />
                <svg:rect x="57.999992" y="138.99998" width="18" height="18" class="btnYellow" />
                <svg:rect x="57.999992" y="138.99998" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(57.999992 144.99998)" fill="black">
                    <svg:tspan class="d-text7" x="1.8034668" y="6">B2M</svg:tspan>
                </svg:text>
                <svg:rect x="78.99999" y="136.99998" width="22" height="22" fill="#bbb" />
                <svg:rect x="78.99999" y="136.99998" width="22" height="22" class="btnOutline" />
                <svg:rect x="80.99999" y="138.99998" width="18" height="18" class="btnGreen" />
                <svg:rect x="80.99999" y="138.99998" width="18" height="18" class="btnOutline" />
                <svg:text transform="translate(80.99999 144.99998)" fill="black">
                    <svg:tspan class="d-text7" x="3.5568848" y="6">MR</svg:tspan>
                </svg:text>
                -->
    </svg:g>
</svg:g>