.instrset-class {
    background-color: #009A89;
    color: white;
    font-weight: 600;
    letter-spacing: 0.15em;
}

.instrset-cycles {
    background-color: #00AE98;
    color: white;
}

.instrset-opcode {
    background-color: #389EC8;
    color:white;
}

.instrset-opcode .classbit {
    background-color: #0084C2;
}
