<header class="header-6">
    <div class="branding" style="padding: 0 .4rem;">
        <a href="#" class="nav-link">
            <clr-icon shape="flask" class="is-solid"></clr-icon>
            <span class="title">Relay Computer Simulator</span>
        </a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="library"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="https://relaycomputer.co.uk" target="_blank" clrDropdownItem>Blog</a>
                <a href="https://github.com/paul80nd/relay-computer" target="_blank" clrDropdownItem>GitHub Source</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
<div style="position: absolute; width: 100vw; padding: 2px;">
    <div class="scaling-svg-container" style="padding-bottom:49.375%;">
        <svg class="scaling-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="-1 -1 960 474">
            <svg:g rc-display-a transform="translate(0,12)" [card]="computer.displayACard"></svg:g>
            <svg:g rc-display-b transform="translate(240,12)" [card]="computer.displayBCard"></svg:g>
            <svg:g rc-control-switches transform="translate(0,196)" [card]="computer.controlSwitchesCard"></svg:g>
            <svg:g rc-card-bay-w transform="translate(0,271)" [backplane]="computer.wBackplane"></svg:g>
            <svg:g rc-card-bay-x transform="translate(240,271)" [backplane]="computer.xBackplane"></svg:g>
            <svg:g rc-card-bay-y transform="translate(480,271)" [backplane]="computer.yBackplane"></svg:g>
            <svg:g rc-card-bay-z transform="translate(720,271)" [backplane]="computer.zBackplane"></svg:g>
            <svg:rect x="0" y="0" width="237" height="12" fill="#002538" />
            <svg:text transform="translate(0 0)" fill="#eee">
                <svg:tspan class="d-text7" x="118.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Display A</svg:tspan>
            </svg:text>        
            <svg:rect x="240" y="0" width="237" height="12" fill="#002538" />
            <svg:text transform="translate(240 0)" fill="#eee">
                <svg:tspan class="d-text7" x="118.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Display B</svg:tspan>
            </svg:text>
            <svg:rect x="0" y="184" width="477" height="12" fill="#002538" />
            <svg:text transform="translate(0 184)" fill="#eee">
                <svg:tspan class="d-text7" x="238.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Primary Control Switches</svg:tspan>
            </svg:text>
            <svg:rect x="0" y="259" width="237" height="12" fill="#002538" />
            <svg:text transform="translate(0 259)" fill="#eee">
                <svg:tspan class="d-text7" x="118.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Card Bay W</svg:tspan>
            </svg:text>        
            <svg:rect x="240" y="259" width="237" height="12" fill="#002538" />
            <svg:text transform="translate(240 259)" fill="#eee">
                <svg:tspan class="d-text7" x="118.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Card Bay X</svg:tspan>
            </svg:text>        
            <svg:rect x="480" y="259" width="237" height="12" fill="#002538" />
            <svg:text transform="translate(480 259)" fill="#eee">
                <svg:tspan class="d-text7" x="118.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Card Bay Y</svg:tspan>
            </svg:text>        
            <svg:rect x="720" y="259" width="237" height="12" fill="#002538" />
            <svg:text transform="translate(720 259)" fill="#eee">
                <svg:tspan class="d-text7" x="118.5" y="6.5" dominant-baseline="middle" text-anchor="middle">Card Bay Z</svg:tspan>
            </svg:text>        
        </svg>
    </div>
</div>
<div style="position: absolute; width: 50vw; height: 26.8vw; padding: 4px 5px 4px 2px; left: 50vw; overflow: hidden;">
    <div class="main-container" style="height: 26.5vw">
        <div class="content-container">
            <div class="content-area" style="width: 55%; padding-right: 4px !important;">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="help-info"></clr-icon> Info</button>
                        <clr-tab-content *clrIfActive="true">
                            <rc-documentation></rc-documentation>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="design"></clr-icon> Architecture</button>
                        <clr-tab-content *clrIfActive>
                            <div class="scaling-svg-container" style="padding-bottom:97.90794979%">
                                <div rc-architecture-diagram></div>
                            </div>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
            <div class="content-area" style="width: 45%">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="memory"></clr-icon> Memory</button>
                        <clr-tab-content *clrIfActive="true">
                            <rc-memory-list [card]="computer.yBackplane.memory"></rc-memory-list>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="list"></clr-icon> Opcodes</button>
                        <clr-tab-content *clrIfActive>
                            <div class="scaling-svg-container" style="padding-bottom:285.36585366%">
                                <div rc-instruction-set></div>
                            </div>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
    </div>
</div>