<div style="position: absolute; width: 100vw; height: 100vh; padding: 3px; padding-left: 75vh;">
    <div class="main-container">
        <header class="header-6">
            <div class="branding">
                <a href="#" class="nav-link">
                    <clr-icon shape="lightbulb"></clr-icon>
                    <span class="title">Relay Computer Simulator</span>
                </a>
            </div>
            <div class="header-actions">
                <clr-dropdown>
                    <button class="nav-icon" clrDropdownTrigger>
                                    <clr-icon shape="library"></clr-icon>
                                    <clr-icon shape="caret down"></clr-icon>
                                </button>
                    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                        <a href="https://relaycomputer.co.uk" target="_blank" clrDropdownItem>Blog</a>
                        <a href="https://github.com/paul80nd/relay-computer" target="_blank" clrDropdownItem>GitHub Source</a>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </header>
        <div class="content-container">
            <div class="content-area" style="width: 60%; padding-right: 4px !important;">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="help-info"></clr-icon></button>
                        <clr-tab-content *clrIfActive="true">
                            <rc-documentation></rc-documentation>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="design"></clr-icon></button>
                        <clr-tab-content *clrIfActive>
                            <div class="scaling-svg-container" style="padding-bottom:97.90794979%">
                                <svg class="scaling-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="-1 -1 239 234">
                                    <svg:g rc-architecture-diagram transform="translate(-480,0)"></svg:g>
                                </svg>
                            </div>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
            <div class="content-area" style="width: 40%">
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="help-info"></clr-icon></button>
                        <clr-tab-content *clrIfActive="true">
                            <rc-documentation></rc-documentation>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="design"></clr-icon></button>
                        <clr-tab-content *clrIfActive="true">
                            <div class="scaling-svg-container" style="padding-bottom:97.90794979%">
                                <svg class="scaling-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="-1 -1 239 234">
                                    <svg:g rc-architecture-diagram transform="translate(-480,0)"></svg:g>
                                </svg>
                            </div>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="list"></clr-icon></button>
                        <clr-tab-content *clrIfActive>
                            <div class="scaling-svg-container" style="padding-bottom:285.36585366%">
                                <svg class="scaling-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="-1 -1 82 234">
                                    <svg:g rc-instruction-set transform="translate(0,0)"></svg:g>
                                </svg>
                            </div>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink><clr-icon shape="memory"></clr-icon></button>
                        <clr-tab-content *clrIfActive>
                            <rc-memory-list [card]="computer.yBackplane.memory"></rc-memory-list>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute; width: 75vh; height: 100vh; padding: 2px;">
    <div class="scaling-svg-container" style="padding-bottom:133.3333%;">
        <svg class="scaling-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="-1 -1 480 640">
            <svg:g rc-display-a [card]="computer.displayACard"></svg:g>
            <svg:g rc-display-b transform="translate(240,0)" [card]="computer.displayBCard"></svg:g>
            <svg:g rc-control-switches transform="translate(0,172)" [card]="computer.controlSwitchesCard"></svg:g>
            <svg:g rc-card-bay-w transform="translate(0,235)" [backplane]="computer.wBackplane"></svg:g>
            <svg:g rc-card-bay-x transform="translate(240,235)" [backplane]="computer.xBackplane"></svg:g>
            <svg:g rc-card-bay-y transform="translate(240,438)" [backplane]="computer.yBackplane"></svg:g>
            <svg:g rc-card-bay-z transform="translate(0,438)" [backplane]="computer.zBackplane"></svg:g>
        </svg>
    </div>
</div>