body {
    background-color: darkslategrey;
    overflow: hidden;
}

.content-area { padding: 0 0.5rem !important; }

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-family: Helvetica, Arial, sans-serif;
}

svg text::selection {
    background: none;
}

.scaling-svg-container {
  position: relative; 
  height:0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 100%; 
  /* over-ride this inline for aspect ratio other than square */
}
.scaling-svg {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top:0;
}

/* Diagram Styling (SVG) */

.diagElementOutline {
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round; 
    stroke-width: .5;
}

/* Card Styling (SVG) */

.cardOutline {
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round; 
    stroke-width: .25;
}

/* Button Styling (SVG) */

.clickable {
    cursor: pointer;
}

.btnOutline, .indOutline, .ledOutline, .swtOutline {
    stroke: navy;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .5;
}

.btnYellow, .btnGreen, .btnRed,
.ledYellow, .ledGreen, .ledRed,
.indYellow, .indGreen, .indRed {
    fill: #bbb;
}
.btnYellow.on, .indYellow.on, .ledYellow.on {
    fill: yellow;
}
.btnGreen.on, .indGreen.on, .ledGreen.on {
    fill: #80ff00;
}
.btnRed.on, .indRed.on, .ledRed.on {
    fill: firebrick;
}

.d-text3, .d-text4, .d-text5, 
.d-text6, .d-text7, .d-text8, .d-text9, 
.d-text10, .d-text13, .d-text14 {
    font-size: 6px;
    font-weight: 500;
}
.d-text3 { font-size: 3px; }
.d-text4 { font-size: 4px; }
.d-text5 { font-size: 5px; }
.d-text7 { font-size: 7px; }
.d-text8 { font-size: 8px; }
.d-text9 { font-size: 9px; }
.d-text10 { font-size: 10px; }
.d-text13 { font-size: 13px; }
.d-text14 { font-size: 14px; }

rc-documentation pre { max-height: none; }