:root [cds-theme] {
  --cds-alias-object-interaction-outline: none;
  --clr-header-divider-color: inherit;
}

*:focus {
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

body {
    background-color: hsl(198, 0%, 20%);
    overflow: hidden;
}

header {
  --clr-header-height: 2rem;

  .branding .nav-link cds-icon {
    fill: var(--cds-global-color-warm-gray-300);
    height: var(--cds-global-space-10);
    width: var(--cds-global-space-10);
  }
  .nav-link {
    height: var(--clr-header-height);
    clr-checkbox-wrapper {
      margin-right: 0;
    }
  }
  .header-actions {
    padding-right: .5em;
    .dropdown-toggle {
      padding: var(--cds-global-space-5) var(--cds-global-space-5) !important;
    }
  }
}

.content-area { padding: 0 0.5rem !important; }

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-family: Helvetica, Arial, sans-serif;
}

svg text::selection {
    background: none;
}

.scaling-svg-container {
  position: relative;
  height:0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  overflow: auto;
  /* over-ride this inline for aspect ratio other than square */
}
.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top:0;
}

/* Diagram Styling (SVG) */

.diagElementOutline {
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .5;
}

/* Card Styling (SVG) */

.cardOutline {
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .5;
}

.bayBackground {
  fill: hsl(198, 0%, 15%);
  stroke: hsl(198, 100%, 32%);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5;
}

.ledHolder {
  fill: hsl(93, 100%, 10%);
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5;
}

.sectionTitle {
  fill: hsl(198, 100%, 21%);
  stroke: hsl(198, 100%, 32%);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5;
}

.perspex {
  fill: hsl(198, 0%, 10%);
  stroke: hsl(198, 100%, 32%);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5;
}

/* Button Styling (SVG) */

.clickable {
    cursor: pointer;
}

.btnOutline, .swtOutline {
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5;
}

.indOutline {
  stroke: #eee;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
}

.indYellow, .indGreen, .indRed {
    fill: hsl(198, 0%, 50%);
}

.ledRed, .ledYellow, .ledGreen {
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .5;
}

.ledRed {
    fill: #bbb;
}
.btnYellow { fill: hsl(38, 100%, 28%); }
.ledYellow { fill: hsl(31, 100%, 19%); }
.btnYellow.on, .indYellow.on, .ledYellow.on {
    fill: hsl(48, 94%, 57%);
}
.btnGreen { fill: hsl(93, 100%, 21%); }
.ledGreen { fill: hsl(93, 100%, 13%); }
.btnGreen.on, .indGreen.on, .ledGreen.on {
    fill: hsl(93, 77%, 44%);
}
.btnRed { fill: hsl(9, 100%, 20%); }
.ledRed { fill: hsl(9, 100%, 20%); }
.btnRed.on, .indRed.on, .ledRed.on {
    fill:  hsl(9, 92%, 50%);
}

.d-text3, .d-text4, .d-text5,
.d-text6, .d-text7, .d-text8, .d-text9,
.d-text10, .d-text13, .d-text14 {
    font-size: 6px;
    font-weight: 500;
}
.d-text3 { font-size: 3px; }
.d-text4 { font-size: 4px; }
.d-text5 { font-size: 5px; }
.d-text7 { font-size: 7px; }
.d-text8 { font-size: 8px; }
.d-text9 { font-size: 9px; }
.d-text10 { font-size: 10px; }
.d-text13 { font-size: 13px; }
.d-text14 { font-size: 14px; }

rc-documentation pre { max-height: none; }
