<table class="table table-compact table-noborder">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td class="left">&nbsp;</td>
      <td *ngFor="let idx of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];">
        <code class="addr">{{ idx | hex:"1" }}</code>
      </td>
    </tr>
    <tr *ngFor="let idx of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <td class="left"><code class="addr">{{ ((offset/16) + idx) | hex:"3" }}</code></td>
      <td *ngFor="let sidx of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
        <a href="#" role="tooltip" class="tooltip tooltip-sm" [class.tooltip-right]="sidx<=6 && idx<=7"
          [class.tooltip-left]="sidx>=7 && idx<=7" [class.tooltip-top-right]="sidx<=6 && idx>=8"
          [class.tooltip-top-left]="sidx>=7 && idx>=8">
          <code [class.pc]="offset + (idx*16) + sidx === pc.pcAddress">{{ card.memoryArray[offset + (idx*16) + sidx] |
            hex:"2" }}</code>
          <span class="tooltip-content"><small>Memory Slot</small><br /><code>
              Address: {{(idx*16) + sidx | hex:"4"}} <br/>
              Hex: {{ card.memoryArray[offset + (idx*16) + sidx] | hex:"2" }}<br />
              Bin: {{ card.memoryArray[offset + (idx*16) + sidx] | bin:"2" }}<br />
              Dec: {{ card.memoryArray[offset + (idx*16) + sidx] | dec:"2" }}
            </code></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
