<table class="table">
    <thead>
        <tr>
            <th class="left">&nbsp;</th>
            <th>0<br/>8</th>
            <th>1<br/>9</th>
            <th>2<br/>A</th>
            <th>3<br/>B</th>
            <th>4<br/>C</th>
            <th>5<br/>D</th>
            <th>6<br/>E</th>
            <th>7<br/>F</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let idx of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
            <td class="left">{{ ((offset/16) + idx) | hex:"3" }}</td>
            <td *ngFor="let sidx of [0,1,2,3,4,5,6,7]">
                <span [class.pc]="offset + (idx*16) + sidx === pc.pcAddress">{{ card.memoryArray[offset + (idx*16) + sidx] | hex:"2" }}</span>
                <br/>
                <span [class.pc]="offset + (idx*16) + sidx + 8 === pc.pcAddress">{{ card.memoryArray[offset + (idx*16) + sidx + 8] | hex:"2" }}</span>
            </td>
        </tr>
    </tbody>
</table>
