<svg:g>
    <!-- Origin at bay top left -->
    <svg:title>Sequencer Card A</svg:title>

    <svg:rect x="10" y="32" width="118" height="5" fill="white" />    
    <svg:g *ngFor="let i of [13,14,15,16,17,18,19,20,21,22,23]">
        <svg:circle [attr.cx]="14+(11*(i-13))" cy="25" r="4" class="ledRed" [class.on]="card.fsm.bit(i)" />
        <svg:circle [attr.cx]="14+(11*(i-13))" cy="25" r="4" class="ledOutline" />
        <svg:text [attr.transform]="'translate(' + (10 + ((i-13) * 11)) + ' 32)'" fill="black">
            <svg:tspan class="d-text4" x=".44140625" y="4">S{{i}}</svg:tspan>
        </svg:text>
    </svg:g>    

    <svg:circle cx="25" cy="14" r="4" class="ledYellow" [class.on]="card.abort.bit(at14Line)" />
    <svg:circle cx="25" cy="14" r="4" class="ledOutline" />
    <svg:rect x="18" y="3" width="14" height="5" fill="white" />
    <svg:text transform="translate(18 3)" fill="black">
        <svg:tspan class="d-text4" x=".8857422" y="4">ABT14</svg:tspan>
    </svg:text>

    <svg:circle cx="190" cy="25" r="4" class="ledGreen" [class.on]="card.pulse.bit(11)" />
    <svg:circle cx="190" cy="25" r="4" class="ledOutline" />
    <svg:circle cx="190" cy="14" r="4" class="ledGreen" [class.on]="card.pulse.bit(12)" />
    <svg:circle cx="190" cy="14" r="4" class="ledOutline" />
    <svg:circle cx="201" cy="25" r="4" class="ledGreen" [class.on]="card.pulse.bit(13)" />
    <svg:circle cx="201" cy="25" r="4" class="ledOutline" />
    <svg:circle cx="201" cy="14" r="4" class="ledGreen" [class.on]="card.pulse.bit(14)" />
    <svg:circle cx="201" cy="14" r="4" class="ledOutline" />
    <svg:circle cx="212" cy="25" r="4" class="ledGreen" [class.on]="card.pulse.bit(15)" />
    <svg:circle cx="212" cy="25" r="4" class="ledOutline" />
    <svg:circle cx="212" cy="14" r="4" class="ledGreen" [class.on]="card.pulse.bit(16)" />
    <svg:circle cx="212" cy="14" r="4" class="ledOutline" />
    <svg:circle cx="223" cy="25" r="4" class="ledGreen" [class.on]="card.pulse.bit(17)" />
    <svg:circle cx="223" cy="25" r="4" class="ledOutline" /> 
    <svg:circle cx="223" cy="14" r="4" class="ledGreen" [class.on]="card.pulse.bit(18)" />
    <svg:circle cx="223" cy="14" r="4" class="ledOutline" />
    <svg:rect x="186" y="3" width="41" height="5" fill="white" />
    <svg:rect x="186" y="32" width="41" height="5" fill="white" />
    <svg:text transform="translate(186 32)" fill="black">
        <svg:tspan class="d-text4" x="2.6660156" y="4">L</svg:tspan>
    </svg:text>    
    <svg:text transform="translate(186 3)" fill="black">
        <svg:tspan class="d-text4" x="2.6660156" y="4">M</svg:tspan>
    </svg:text>    
    <svg:text transform="translate(197 32)" fill="black">
        <svg:tspan class="d-text4" x="2.7783203" y="4">N</svg:tspan>
    </svg:text>
    <svg:text transform="translate(197 3)" fill="black">
        <svg:tspan class="d-text4" x="2.444336" y="4">O</svg:tspan>
    </svg:text>
    <svg:text transform="translate(208 32)" fill="black">
        <svg:tspan class="d-text4" x="2.555664" y="4">Q</svg:tspan>
    </svg:text>
    <svg:text transform="translate(208 3)" fill="black">
        <svg:tspan class="d-text4" x="3.444336" y="4">R</svg:tspan>
    </svg:text>
    <svg:text transform="translate(219 32)" fill="black">
        <svg:tspan class="d-text4" x="3" y="4">S</svg:tspan>
    </svg:text>
    <svg:text transform="translate(219 3)" fill="black">
        <svg:tspan class="d-text4" x="2.6660156" y="4">T</svg:tspan>
    </svg:text>
    -->
</svg:g>
